/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* components */
@import url('/landing/css/components/banner.css');
@import url('/landing/css/components/container.css');
@import url('/landing/css/components/card.css');
@import url('/landing/css/components/footer.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 100px;
}

 h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
